<!DOCTYPE html>
<html>
   <head>
      <title>Chat room</title>
      <link rel="stylesheet" type="text/css" href="../css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
   </head>
   <body>
      <section>
         <div class="box">
            <div class="logo">
               <img src="../img/chat_logo.png">
               <h3>Welcome to Node Chat</h3>
            </div>
            <div class="chat-btn-holder">
               <a href="/create" target="_blank">
                  <div class="chat-btn">Enter Chat Room</div>
               </a>
            </div>
         </div>
      </section>
   </body>
</html>